#taskList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #taskListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #taskListHeader span {
    flex-basis: 33.33%;
    text-align: center;
  }
  
  #taskList span {
    flex-basis: 33.33%;
    text-align: center;
  }
  .task-completed {
    text-decoration: line-through;
    color: maroon;
  }
  .task-not-completed {
    text-decoration: none;
    color:yellow
  }

  form {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 5px;
    justify-content: flex-start;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: Bold;
    
  }

  #subButton {

  }